.admin-product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 3%;
  margin: 1rem;
}

.admin-product-img {
  height: 8rem;
  width: 10%;
}

.admin-product-description{
  display: flex;
  flex-direction: column;
}

.admin-product-name {
  margin: 0.5rem;
  font-size: 1em;
}

.admin-product-delete {
  font-size: 1.2em;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #ec0101;
} 

.admin-product-update {
  margin: 1rem;
  background-color: #4e89ae;
  color: #fff;
  padding: 0.5rem 0;
  border: 1px solid;
  font-size: 0.8em;
  text-align: center;
}

.admin-product-price {
  margin: 0.5rem;
  font-size: 1em;
  color: #ed6663;
}
