.all-items {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #fff;
}

.item {
  list-style-type: none;
}

.item a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.item a:hover {
  color: #ff5722;
}