.cart-product-container {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 3%;
  margin: 1rem;
}

.cart-product-img {
  height: 10rem;
  width: 10%;
}

.cart-product-description{
  display: flex;
  flex-direction: column;
}

.cart-product-name {
  margin: 1rem;
  font-size: 2em;
}

.cart-product-price {
  margin: 1rem;
  font-size: 1.5em;
  color: #ed6663;
}

.cart-quantity {
  margin: 1rem;
  font-size: 1.5em;
}

.cart-quantity-buttons {
  margin: 1rem;
}

.cart-quantity-buttons .plus{
  width: 2rem;
  cursor: pointer;
  font-size: 2em;
}

.cart-quantity-buttons .minus{
  width: 2rem;
  cursor: pointer;
  font-size: 2em;
}

.cart-quantity-buttons .delete{
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 2rem;
}

.total-price-product {
  margin: 1rem;
  font-size: 1.5em;
}

.quantity-error-message {
  margin: 0.9rem;
  font-size: 0.9em;
  color: #ed6663;
}