.header-container {
  background-color: #ffd571;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container a{
  text-decoration: none;
}

.store-name {
  color: #3c2946;
}

.header-links{
  display: flex;
}

.header-login {
  margin: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10%;
  
}

.header-signup {
  margin: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10%;
}

.header-links a {
  color: #000;
  text-decoration: none;
}

.header-links-login {
  display: flex;
  align-items: center;
}

.header-logout {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #ec0101;
  color: #fff;
  font-size: 1.2em;
  border-radius: 10%;
}

.header-cart-img {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}