.home-container h1{
  color: #1a1c20;
  margin: 1rem;
  padding: 1rem;
  background: #fff; 
}

.top-products {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.product-container {
  width: 20%;
  margin: 1rem;
  padding: 1rem 0;
  background-color: #fff;
}

.product-container a{
  text-decoration: none;
}

.product-img {
  height: 20rem;
  width: 100%;
  border-radius: 2%;
}

.product-name {
  margin-top: 1rem;
  font-size: 1.2em;
  margin-left: 1em;
  color: #40a8c4;
}

.product-price {
  font-size: 1.2em;
  margin-top: 0.5rem;
  margin-left: 1em;
  font-weight: bold;
}
